{% extends "User/UserBase.html" %}
{% block userhead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/User/PasswordUpdate.css') }}">
{% endblock %}

{% block userbody %}

    <div class="form_container">
        <div class="form_header">
            <i class="fas fa-lock"></i>
            <div>
                <h3>Update</h3>
                <p>Your New Password</p>
            </div>
        </div>
        <form action="", method='post'>
            {{form.hidden_tag()}}
            
            <div class="form-group">
                {{ form.password.label() }}
                <div id="password_container">
                    <div class="inpt">
                        <i class="fas fa-lock"></i>
                        {% if form.password.errors %}
                            {{form.password(placeholder="Password", class="wrong_input", id="password")}}
                        {% else %}
                            {{ form.password(placeholder="Password", id="password") }}
                        {% endif %}
                    </div>
                    <!-- This icon shows the password -->
                    <i class="fas fa-eye" id="eye"></i>
                </div>
                {% for err in form.password.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
                <script>
                    const eye = document.getElementById('eye')
                    const password = document.getElementById('password')
                    eye.addEventListener('click', ()=>{
                        if (password.type == "password"){
                            password.type="text"
                            eye.setAttribute('class', 'fas fa-eye-slash')
                        }else{
                            password.type="password"
                            eye.setAttribute('class', 'fas fa-eye')
                        }
                    })
                </script>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                <div id="password_container">
                    <div class="inpt">
                        <i class="fas fa-lock"></i>
                        {% if form.confirm_password.errors %}
                            {{form.confirm_password(placeholder="Password", class="wrong_input", id="password2")}}
                        {% else %}
                            {{ form.confirm_password(placeholder="Confirm Password", id="password2") }}
                        {% endif %}
                    </div>
                    <!-- This icon shows the password -->
                    <i class="fas fa-eye" id="eye2"></i>
                </div>
                {% for err in form.confirm_password.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
                <script>
                    const eye2 = document.getElementById('eye2')
                    const password2 = document.getElementById('password2')
                    eye2.addEventListener('click', ()=>{
                        if (password2.type == "password"){
                            password2.type="text"
                            eye2.setAttribute('class', 'fas fa-eye-slash')
                        }else{
                            password2.type="password"
                            eye2.setAttribute('class', 'fas fa-eye')
                        }
                    })
                </script>
            </div>
            
            <div class="form-group submit">
                {{ form.submit() }}
            </div>
        </form>
    </div>

{% endblock %}