{% extends "User/UserBase.html" %}

{% block userhead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/User/Reg_1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/User/Reg_2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/User/Reg_3.css') }}">
{% endblock %}

{% block userbody %}

    <div class="form_container">
        <div class="logo">
            <div class="form_icon">
                <i class="fas fa-user"></i>
            </div>
            <h2 class="form_title">
                Registration
            </h2>
            <p class="det">
                Join an unlimited world!
            </p>
        </div>

        <form action="" class="form" method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form_head">
                <div class="name">Sign up</div>
                <div class="progress">
                    <div class="spans">
                        <span><i class="fas fa-check"></i></span>
                        <span><i class="fas fa-check"></i></span>
                        <span>3</span>
                    </div>
                    <div class="bet_spans"></div>
                </div>
            </div>
            
            <div class="form-group-picture">
                <div class="import_btn">
                    <button id="import_pic_btn" type="button">
                        <i class="fas fa-upload" style='margin-right: 5px;'></i>
                        Import image
                    </button>
                    {% if form.picture.errors %}
                        {% for err in form.picture.errors %}
                            <span class="error">{{ err }}</span>
                        {% endfor %}
                    {% endif %}
                    {{ form.picture(id='file') }}
                </div>
                <div class="picture">
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" id="img">
                </div>
            </div>

            <!-- The control buttons -->
            <div class="form-group-submit">
                {{ form.submit() }}
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='Scripts/User/Register.js') }}"></script>
{% endblock %}